.header {
    height: 100px;
    width: 100%;
    text-align: center;
}
body {
    height: 100vh;
    width: 100%;
    background-color: ghostwhite;
}

.inputBox {
    margin-top: 10px;
    text-align: center;
    border-radius: 50px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
}

userInput {
    margin-top: 10px;
    text-align: center;
    border-radius: 50px;
}

.resultArea {
    margin-top: 20px;
    text-align: center;
}