body {
    height: 100vh;
    width: 100%;
    background-color: azure;
}

.header {
    height: 100px;
    width: 100%;
    text-align: center;
}

.inputBox {
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
}

.resultArea {
    margin-top: 20px;
    text-align: center;
}

.playAgainButton {
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
}