.div-box {
  outline: thin solid green;
  padding: 20px;
  margin-top: 20px;
}

.cat-div-box {
  outline: thin solid red;
  padding: 20px;
  margin-top: 20px;
}

.clickable {
    cursor: pointer;
}

.clickable :hover {
    background-color: #f0f0f0;
}
